@font-face {
    font-family: Alice;
    src: url('../../resources/Alice-Regular.ttf');
}


.root {
     -fx-background-color: #333;
     /*-fx-background-radius: 10;*/
}





#searchBar{
	-fx-border-radius:20.0px;
	-fx-background-radius:20.0px;
	-fx-background-color:#222;
	-fx-border-width:1.0px 1.0px 1.0px 1.0px;
	-fx-border-color: #e86e0a;
	-fx-text-fill:#aaa;
	}

#homeTabPane>Tab>ScrollPane{
	-fx-background-color: transparent;
	-fx-border-width:2.0px 0.0px 0.0px 0.0px;
	-fx-border-color: #e86e0a;
}

#message{
	-fx-background-color:#f00;
	-fx-border-color:#f00;
	-fx-border-width: 3.0px 10.0px 3.0px 3.0px;
	-fx-border-radius: 0.0px 20.0px 0.0px 0.0px;
	-fx-background-radius: 0.0px 8.0px 0.0px 0.0px;
	-fx-text-fill:#fff;
    -fx-font-weight: bold;
}

Button{
	-fx-background-color:#5559;
	-fx-text-fill:#fff;	 
	-fx-border-radius: 4.0px;
	}
	
Button:hover{
	-fx-background-color:#888;
	}

JFXButton, TextField, PasswordField{
    -fx-alignment: CENTER;
	-fx-background-color: transparent;
	-fx-border-color:#aaa;
	-fx-border-radius: 0.0px;
	-fx-border-width: 0.0px 0.0px 1.5px 0.0px ;
	-fx-text-fill:#aaa;
    -fx-highlight-fill: #f87e1a;
    -fx-highlight-text-fill: #222
}
  
JFXTextField, JFXPasswordField{
    -fx-alignment: CENTER;
	-fx-text-fill: #eee;
	-fx-text-alignment: CENTER;
    -fx-highlight-fill: #f87e1a;
    -fx-highlight-text-fill: #222;
    -jfx-unfocus-color: #ccc;
    -jfx-focus-color: "#e86e0a";
}

#login {
 	-fx-background-color: #e86e0a20;
 	-jfx-rippler-fill: #e86e0a;
}

#register {
 	-fx-background-color: #e86e0a20;
 	-jfx-rippler-fill: #e86e0a;
}

#recover {
 	-fx-background-color: #e86e0a20;
 	-jfx-rippler-fill: #e86e0a;
}
  
 #pageContainer{
 	-fx-background-color: rgba(0,0,0,0.85);
 	-fx-border-width:1.0px;
 	-fx-border-color:#0096c8cc; 	
 	-fx-border-radius:16px;
 	-fx-background-radius:16px;
 } 
/* 
#pageContainer{
	-fx-background-color: #111;
	-fx-opacity: 1.0;
} */

.titlesBox{
	-fx-border-width: 1.0px 0.0px 0.0px 0.0px;
	-fx-border-color: #e86e0a;
	-fx-background-color:transparent;
}

.title-row{
	
	-fx-background-color:#20202020;
	-fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #202020, transparent);
	-fx-background-radius: 8.0px;
	-fx-padding:4.0px;
	-fx-border-width:0.0px 0.0px 1.0px 0.0px;
	-fx-border-color:#191919;
	}
.title-row1{
	
	-fx-background-color:#5552;
	-fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #5552, transparent);
	-fx-background-radius: 8.0px;
	-fx-padding:4.0px;
	-fx-border-width:0.0px 0.0px 0.0px 0.0px;
	-fx-border-color:#191919;
	}
	
	
.search-row{
	
	-fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #202020, transparent);
	-fx-background-color:transparent;
	-fx-padding:16.0px;
	-fx-pref-width:400px;
	-fx-border-width:0.0px 0.0px 1.0px 0.0px;
	-fx-border-color:#ccc;
	}
.search-row1{
	
	-fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #5552, transparent);
	-fx-background-color:transparent;
	-fx-padding:16.0px;
	-fx-pref-width:400px;	
	-fx-border-width:0.0px 0.0px 0.0px 0.0px;
	-fx-border-color:#ccc;
	}
.search-row>Label{
	-fx-text-fill: rgba(100.0, 90.0, 49.0, 1.0);
}	
.search-row1>Label{
	-fx-text-fill: rgba(235.0, 170.0, 100.0, 1.0);
}	


.search-row:hover>Label{
	-fx-text-fill: white;
}	
.search-row1:hover>Label{
	-fx-text-fill: white;
}	

.search-row:hover, .search-row1:hover{
	/*-fx-background-color:#e86e0a;*/
	-fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #e86e0a, transparent);
	-fx-background-radius: 0.0px;
	-fx-text-fill:#eee;
}
	
#rightHomePanel{
	-fx-background-color: linear-gradient(from 25.0% 50.0% to 100.0% 50.0%, #0004, #000);
		-fx-background-color:transparent;
}	

#rightHomePanel > JFXButton{
	-fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #555, transparent);
	-fx-background-radius: 20.0px;
}
	
	
.title-row>Label{
	-fx-text-fill: rgba(200.0, 190.0, 149.0, 1.0);
}	
.title-row1>Label{
	-fx-text-fill: rgba(235.0, 170.0, 100.0, 1.0);
}	


.title-row:hover>Label{
	-fx-text-fill: white;
}	
.title-row1:hover>Label{
	-fx-text-fill: white;
}	

.title-row:hover, .title-row1:hover{
	/*-fx-background-color:#e86e0a;*/
	-fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #e86e0a, transparent);
	-fx-background-radius: 8.0px;
	-fx-text-fill:#eee;
	
}


AnchorPane,HBox, VBox, FlowPane{
	-fx-background: transparent;
	-fx-border-width:0.0px;
}

.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT
}

.scroll-pane {
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}

.scroll-pane:focused {
    -fx-background-insets: 0.0;
}

.scroll-pane .corner {
    -fx-background-insets: 0.0;
}

#categories{
	-fx-alignment:center;
	-fx-padding:4.0px;
	}
	
#categories>Label{
	-fx-alignment: CENTER;
    -fx-text-fill: #aaa;
    -fx-font-weight: bold;
	-fx-padding:4.0px;
	-fx-border-width: 2.0px;
	-fx-border-radius: 14.0px;
	-fx-border-color: #191919;
	-fx-background-color:#202020;
	-fx-background-radius:14.0px;
}

JFXButton:hover{
	-fx-border-color:#e86e0a;
	-fx-text-fill:#fff;	  
}

JFXButton:focused{
	-fx-border-color:#e86e0a;
	-fx-text-fill:#fff;	  
}

TextField:hover{
	-fx-border-color:#e86e0a;
	-fx-text-fill:#fff;
}

TextField:focused{
	-fx-border-color:#e86e0a;
	-fx-background-color: #fff4;
	-fx-text-fill:#fff;
}

PasswordField:focused{
	-fx-border-color:#e86e0a;
	-fx-background-color:#8889;
	-fx-text-fill:#fff;	  
}

PasswordField:hover{
	-fx-border-color:#e86e0a;
	-fx-text-fill:#fff;	  
}

.jfx-tab-pane, .tab-pane
{
    -fx-tab-min-width:120.0px;
    -fx-open-tab-animation: grow;
    
    -fx-background-color: #222;
    
}

.tab{
    /*-fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;*/
    
    -fx-pref-height: 50.0;
    -fx-border-color:#aaa0;

    -fx-border-width: 0.0px 0.0px 2.0px 0.0px;
}
.jfx-tab-pane .tab, .tab-pane .tab
{
    -fx-background-color: #4440;
    
}

.jfx-tab-pane .tab:selected, .tab-pane .tab:selected
{
    -fx-background-color: #222f;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #aaa;
    -fx-font-size: 16.0px;
}

.tab:hover {
    -fx-border-color:#ccc;
}

.tab:hover .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ccc;
}

.tab:selected {
    -fx-border-color:#e86e0a;
}
.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
}

tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {

    -fx-border-color: transparent;

}
	
.jfx-tab-pane> *.tab-header-area> *.tab-header-background, *.tab-pane> *.tab-header-area> *.tab-header-background {
     -fx-opacity: 0.0;     }
     
 .jfx-tab-pane .tab-header-background { 
	-fx-background-color: #f87e1a;
	-fx-background-color: linear-gradient(from 0.0% 50.0% to 75.0% 50.0%, #f87e1a60, #f87e1a);
 }
 
 
 .jfx-tab-pane .headers-region
{
	-fx-background-color: transparent;
}
.jfx-tab-pane .tab-header-area .jfx-rippler
{
-jfx-rippler-fill: orange;
}

.jfx-tab-pane .tab-selected-line
{
-fx-border-color:#e86e0a;
-fx-background-color: #e86e0a;
}

 #rightbar .tab-header-background{
 	-fx-background-color: #f87e1a;
 }
 
#rightbar .tab-selected-line
{
-fx-border-color:transparent;
-fx-background-color: transparent;
}


#gotoprofile{	
}

#scrollPage{
	-fx-border-width:0.0px 1.0px 0.0px 0.0px;
	-fx-border-color:#191919;

}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #202020;
    -fx-border-color: #202020;
    -fx-background-radius: 0.0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #3CB371;
    -fx-background-radius: 5.0em;
}

.scroll-pane > .corner {
    -fx-background-color: #202020;
    
}

#project-miniature{
	-fx-padding:0.0px 20.0px 0.0px 20.0px;
	-fx-alignment:center;
}
 
.text-area .content{
	-fx-border-width:0.0px 1.0px 0.0px 2.0px;
    -fx-alignment: CENTER;
    -fx-border-color:#e86e0a;
      -fx-background-color: #202020;
  }
  
TextArea {
	-fx-text-fill: #fff;
      -fx-highlight-fill: #e86e0a;
       -fx-highlight-text-fill: #222;
}

TextArea:focused {
	-fx-border-width:0.0px 0.0px 0.0px 2.0px;
    -fx-border-color:#e86e0a;
      -fx-background-color: #e86e0a;
}

.choice-box, MenuButton {
  -fx-background-color: #5559;
  -fx-mark-color: #3CB371;
}

.choice-box > .label {
	-fx-text-fill: #eee;
}

.choice-box .context-menu{
  -fx-background-color: #5559;
  -fx-mark-color: #3CB371;
}

.choice-box .menu-item:focused {
  -fx-background-color: #0096c8cc;
}

.choice-box .menu-item > .label {
	-fx-text-fill: #eee;
}

.choice-box .menu-item:focused > .label {
	-fx-text-fill: white;
}

MenuButton > .label { -fx-text-fill: white; }
MenuButton .context-menu { -fx-background-color: #111; }
MenuButton .menu-item:focused { -fx-background-color: darkorange; }
MenuButton .menu-item > .label { -fx-text-fill: white; }
MenuButton .menu-item:focused > .label { -fx-text-fill: black; }




/*-----------------------------------------------MANAGE PROJECT--------------------------------------*/

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
	-fx-border-color: transparent;
}

#transcriptionPagesTab{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #202020, #20202020);
	-fx-background-radius: 8.0px 8.0px 0.0px 0.0px;
	-fx-border-color: transparent;
	-fx-border-width: 1.0px 1.0px 0.0px 1.0px;
}
#transcriptionPagesTab:selected{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #0096c8cc, #0096c820);
	}
#transcriptionPagesTab:hover{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #3CB371, #2CA36120);
	}
#transcriptionTranscribersTab{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #202020, #20202020);
	-fx-background-radius: 8.0px 8.0px 0.0px 0.0px;
	-fx-border-color: transparent;
	-fx-border-width: 1.0px 1.0px 0.0px 1.0px;
}
#transcriptionTranscribersTab:selected{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #0096c8cc, #0096c820);
	}
#transcriptionTranscribersTab:hover{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #3CB371, #2CA36120);
	}

#scanningPagesTab{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #202020, #20202020);
	-fx-background-radius: 8.0px 8.0px 0.0px 0.0px;
	-fx-border-color: transparent;
	-fx-border-width: 1.0px 1.0px 0.0px 1.0px;
}
#scanningPagesTab:selected{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #0096c8cc, #0096c820);
	}
#scanningPagesTab:hover{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #3CB371, #2CA36120);
	}
#scanningDigitalizersTab{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #202020, #20202020);
	-fx-background-radius: 8.0px 8.0px 0.0px 0.0px;
	-fx-border-color: transparent;
	-fx-border-width: 1.0px 1.0px 0.0px 1.0px;
}
#scanningDigitalizersTab:selected{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #0096c8cc, #0096c820);
	}
#scanningDigitalizersTab:hover{
	-fx-background-color: linear-gradient(from 50.0% 25.0% to 50.0% 100.0%, #3CB371, #2CA36120);
	}

.tab1{
	-fx-background-color: #222;
	-fx-border-radius: 8.0px 8.0px 0.0px 0.0px;
	-fx-border-width: 1.0px 1.0px 0.0px 1.0px;
}

.tab1:hover{
	-fx-background-color:#222;
	}


#transcriptionTabPane > .tab-header{

    -fx-border-color: #8aa;

}

#scanningTabPane > .tab-header {

    -fx-border-color: #aa8;

}



	


#scanningTab {
	-fx-background-color: #555;
	-fx-pref-width: 300.0px;
	-fx-border-color: transparent;
	-fx-background-radius: 0.0px 0.0px 0.0px 0.0px;
}



#content{
	-fx-opacity: 1.0;
}

.transparentObj{
	-fx-background-color: transparent;
}

#transcriptionTab{
	-fx-background-radius: 0.0px 16.0px 16.0px 0.0px;
	-fx-background-color: #555;
	-fx-pref-width: 300.0px;
	-fx-border-color: transparent;
    	}
    	

	
#scanningTab:selected, #transcriptionTab:selected, #propertiesTab:selected{
	-fx-background-color: #2CA361;
}

#scanningTab:hover, #transcriptionTab:hover, #propertiesTab:hover{
	-fx-background-color: #3CB371;
}

/* 	
#transcriptionTab:hover, #transcriptionTab:selected{
	-fx-background-color: #c88;
}	*/
	
	

#propertiesTab{
	-fx-background-radius: 16.0px 0.0px 0.0px 16.0px;
	-fx-background-color: #555;
	-fx-pref-width: 300.0px;	
	-fx-border-color: transparent ;

}





#content{
	-fx-opacity: 1.0;
}

.transparentObj{
	-fx-background-color: transparent;
}



#newDocumentButton, #addTranscriberButton, #addDigitalizerButton, #addDReviserButton, #addTReviserButton{
	-fx-background-color:#5559;
	-fx-background-radius:10px;
	-fx-pref-width: 450.0px;
	-fx-pref-height: 40.0px;
	-fx-text-fill: #eee;
	}
	
#newDocumentButton{
		-fx-pref-width: 900.0px;
}	
	
#newDocumentButton:hover, #addTranscriberButton:hover, #addDigitalizerButton:hover,#addDReviserButton:hover, #addTReviserButton:hover {
	-fx-text-fill: #fff;
	-fx-background-color:#e86e0a;	
	}	
	



.table-view{
   -fx-background-color: transparent;
   -fx-table-cell-border-color: transparent;
	-fx-font-size: 16.0px;
}


.table-view .filler{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenk�pfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(from 30.0% 25.0% to 100.0% 100.0%, #0096c8cc, #3CB371); /* AAAAH */
    -fx-background-color: #0096c8cc;
    -fx-background-radius: 8.0px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #eee;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-alignment:left;
}

.table-view .table-cell{
    -fx-text-fill: #ddd;
}



.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, linear-gradient(from 60.0% 25.0% to 100.0% 100.0%, #170b0b, #170b0ba0);
    -fx-background-radius:4.0px;
    -fx-background-insets: 1.0, 1.0 1.0 1.0 1.0;
    -fx-padding: 0.0; /* 0 */
    /*-fx-border-color: 2px 0px 2px 0px black;*/
    -fx-border-color: transparent;
	-fx-min-height:60.0px;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd:hover, .table-row-cell:hover{
	-fx-background-color: #e86e2a;
}

.table-row-cell:odd{
	-fx-background-radius:4.0px;
    -fx-background-color: -fx-table-cell-border-color, linear-gradient(from 60.0% 25.0% to 100.0% 100.0%, #202020, #202020a0);
    -fx-background-insets: 1.0, 1.0 1.0 1.0 1.0;
    -fx-min-height:60.0px;
    -fx-padding: 0.0; /* 0 */  
}

.table-row-cell:selected {
	-fx-background-color: #777;
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0px;
    }


.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #0001;
    -fx-background-radius: 16.0px;
    -fx-border-color:transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0.0;
}

.check-box *.box {
  -fx-background-color: #111;
}

.check-box:selected .mark {
    -fx-background-color: darkorange;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /*-fx-background-color: #3CB371;*/
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-background-color: linear-gradient(#3CB371 0%, #3CB371 25%, #2CA361 75%, #0C8341 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #202020;
}
.list-cell:odd { /* <=== changed to even */
    -fx-background-color: #242424;
}

.list-cell:filled:hover {
    -fx-background-color: #444;
    -fx-text-fill: white;
}

#pageList:focused {
	-fx-border-color: transparent;
    -fx-border-width: 0.0px 0.0px 1.0px 0.0px;
}

#topbar{
	-fx-background-color: rgba(100.0,30.0,0.0,1.0);
    -fx-border-width: 0.0px 0.0px 1.0px 0.0px;
    -fx-border-color:#aaaa;
    -fx-tab-max-width:49.0px;
}

#menuDocumentView{
	-fx-background-color: linear-gradient(from 50.0% 20.0% to 50.0% 100.0%, #0096c8cc, #0A65BF);
	-fx-padding:7px;
}
#backButton{
	-fx-background-color: #5559;
}




#moreButton{
		-fx-background-color: #5559;
	
}

#backButton:hover, #moreButton:hover{
	-fx-background-color: #3CB371;
}

#rightbar{
	-fx-background-color: #333;
    -fx-border-width: 0.0px 0.0px 1.0px 0.0px;
    -fx-border-color:#aaaa;
}



.styled-text-area {
	-fx-border-width:0.0px 1.0px 0.0px 2.0px;
    -fx-alignment: CENTER;
    -fx-border-color:#eee;
    -fx-background-color: #202020;
}

.styled-text-area:focused {
	-fx-border-width:0.0px 5.0px 0.0px 2.0px;
    -fx-border-color:#eee;
    -fx-background-color: #232323;
}

.styled-text-area .text {
    -fx-fill: white;
}

.styled-text-area .tagmark {
    -fx-fill: gray;
}
.styled-text-area .anytag {
    -fx-fill: crimson;
}
.styled-text-area .paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.styled-text-area .attribute {
    -fx-fill: darkviolet;
}
.styled-text-area .avalue {
    -fx-fill: gray;
}

.styled-text-area .comment {
	-fx-fill: teal;
}

.title {
	-fx-text-fill: #fff;
}

.highlight {
	-fx-text-fill: #fffefe;
}

.highlight2 {
	-fx-text-fill: #f87e1a;
}

Label {
	-fx-font-family: 'Alice';	
}


#newsList{
-fx-background-color: rgba(255.0, 255.0, 255.0, 0.0); 
}

#logout{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
    -fx-background-color: #4440;
    -fx-pref-height: 50.0;
    -fx-alignment: CENTER;
    -fx-text-fill: #aaa;
    -fx-font-size: 16.0px;
    -fx-border-color:#aaa0;
    -fx-border-width: 0.0px 0.0px 2.0px 0.0px;  
}

#logout:hover { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ccc;
    -fx-border-color:#ccc;
}

.list-view .list-cell{
	-fx-text-fill: yellow;
}

JFXScrollPane {
	-fx-background-color: transparent;
}


#activet {
	-fx-background-color: #5559;
	-fx-pref-width: 293.0px;
	-fx-border-color: transparent;
	-fx-background-radius: 0.0px 0.0px 0.0px 0.0px;
}
#inactive{
	-fx-background-radius: 16.0px 0.0px 0.0px 16.0px;
	-fx-background-color: #5559;
	-fx-pref-width: 293.0px;	
	-fx-border-color: transparent ;
}
#pending {
	-fx-background-color: #5559;
	-fx-pref-width: 293.0px;
	-fx-border-color: transparent;
	-fx-background-radius: 0.0px 0.0px 0.0px 0.0px;
}
#old{
	-fx-background-radius: 0.0px 16.0px 16.0px 0.0px;
	-fx-background-color: #5559;
	-fx-pref-width: 293.0px;
	-fx-border-color: transparent;
    	}   	

#old:selected, #activet:selected, #inactive:selected, #pending:selected{
	-fx-background-color: #2CA361;
}
	
#old:hover, #activet:hover, #inactive:hover, #pending:hover{
	-fx-background-color: #3CB371;
}
	

/* 	
#transcriptionTab:hover, #transcriptionTab:selected{
	-fx-background-color: #c88;
}	*/

#searchBar {
	-fx-background-color: #fff2;
	-fx-text-fill: white;
	-fx-prompt-text-fill: white;
}

#searchBar:hover {
	-fx-background-color: #fff4;
}
/* 
#pageList{
	-fx-border-width: 0.0px 1.0px 0.0px 0.0px;
	-fx-border-color: red; 	
}
*/


