.root {
     -fx-background-color: #333;
     /*-fx-background-radius: 10;*/
}


#searchBar{
	-fx-border-radius:20px;
	-fx-background-radius:20px;
	-fx-background-color:#222;
	-fx-border-width:1px 1px 1px 1px;
	-fx-border-color: #e86e0a;
	-fx-text-fill:#aaa;
	}

#homeTabPane>Tab>ScrollPane{
	-fx-background-color: white;
	-fx-border-width:2px 0px 0px 0px;
	-fx-border-color: #e86e0a;
}

Button{
	-fx-background-color:#555;
	-fx-text-fill:#fff;	 
	-fx-border-radius: 4px;
	}
	
Button:hover{
	-fx-background-color:#888;
	}

JFXButton, TextField, PasswordField{
    -fx-alignment: CENTER;
	-fx-background-color: transparent;
	-fx-border-color:#aaa;
	-fx-border-radius: 0.0px;
	-fx-border-width: 0.0px 0.0px 1.5px 0.0px ;
	-fx-text-fill:#aaa;
    -fx-highlight-fill: #f87e1a;
    -fx-highlight-text-fill: #222;
}
  
JFXTextField, JFXPasswordField{
    -fx-alignment: CENTER;
	-fx-text-fill: #eee;
	-fx-text-alignment: CENTER;
    -fx-highlight-fill: #f87e1a;
    -fx-highlight-text-fill: #222;
}  
  
  
 #pageContainer{
 	-fx-background-color: #222;
 	-fx-border-width:1.0px;
 	-fx-border-color:#777;
 } 

#pageContainer{
	-fx-background-color: #111;
	-fx-opacity: 1.0;
} 

#news{
	-fx-border-width: 1px 0px 0px 0px;
	-fx-border-color: #e86e0a;
}

#news-row{
	
	-fx-background-color:#202020;
	-fx-padding:4.0px;
	-fx-border-width:0.0px 0.0px 1.0px 0.0px;
	-fx-border-color:#191919;
	}
#news-row1{
	
	-fx-background-color:#222;
	-fx-padding:4.0px;
	-fx-border-width:0.0px 0.0px 0.0px 0.0px;
	-fx-border-color:#191919;
	}
	
#news-row>Label{
	-fx-text-fill:#eee;
}	
#news-row1>Label{
	-fx-text-fill:#eee;
}	

#news-row:hover, #news-row1:hover{
	-fx-background-color:#e86e0a;
	-fx-background-radius: 8px;
	-fx-text-fill:#eee;
	-fx-font-size:18px;
}


AnchorPane,HBox, VBox, FlowPane{-fx-background:#222; -fx-border-width:0.0px;}

.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT
}

.scroll-pane {
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}

.scroll-pane:focused {
    -fx-background-insets: 0.0;
}

.scroll-pane .corner {
    -fx-background-insets: 0.0;
}

#categories{
	-fx-alignment:center;
	-fx-padding:4.0px;
	}
	
#categories>Label{
	-fx-alignment: CENTER;
    -fx-text-fill: #aaa;
    -fx-font-weight: bold;
	-fx-padding:4.0px;
	-fx-border-width: 2.0px;
	-fx-border-radius: 14.0px;
	-fx-border-color: #191919;
	-fx-background-color:#202020;
	-fx-background-radius:14.0px;
}

JFXButton:hover{
	-fx-border-color:#e86e0a;
	-fx-text-fill:#fff;	  
}

JFXButton:focused{
	-fx-border-color:#e86e0a;
	-fx-text-fill:#fff;	  
}

TextField:hover{
	-fx-border-color:#e86e0a;
	-fx-text-fill:#fff;
}

TextField:focused{
	-fx-border-color:#e86e0a;
	-fx-background-color: #fff4;
	-fx-text-fill:#fff;
}

PasswordField:focused{
	-fx-border-color:#e86e0a;
	-fx-background-color:#8889;
	-fx-text-fill:#fff;	  
}

PasswordField:hover{
	-fx-border-color:#e86e0a;
	-fx-text-fill:#fff;	  
}

#password:focused{
	-fx-border-color:#e86e0a;
}

.jfx-tab-pane, .tab-pane
{
    -fx-tab-min-width:120.0px;
    -fx-open-tab-animation: grow;
    
    -fx-background-color: #222;
    
}

.tab{
    /*-fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;*/
    
    -fx-pref-height: 50.0;
    -fx-border-color:#aaa0;

    -fx-border-width: 0.0px 0.0px 2.0px 0.0px;
}
.jfx-tab-pane .tab, .tab-pane .tab
{
    -fx-background-color: #4440;
    
}

.jfx-tab-pane .tab:selected, .tab-pane .tab:selected
{
    -fx-background-color: #222f;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #aaa;
    -fx-font-size: 16.0px;
}

.tab:hover {
    -fx-border-color:#ccc;
}

.tab:hover .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ccc;
}

.tab:selected {
    -fx-border-color:#e86e0a;
}
.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
}

tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {

    -fx-border-color: transparent;

}
	
.jfx-tab-pane> *.tab-header-area> *.tab-header-background, *.tab-pane> *.tab-header-area> *.tab-header-background {
     -fx-opacity: 0.0;     }
     
 .jfx-tab-pane .tab-header-background { -fx-background-color: #333; }

#gotoprofile{
	
	
}

#scrollPage{
	-fx-border-width:0.0px 1.0px 0.0px 0.0px;
	-fx-border-color:#191919;

}

.scroll-pane {
    -fx-background-color: #202020;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#202020;
}

.increment-button, .decrement-button {
    -fx-background-color:#202020;
    -fx-border-color: #202020;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #202020;
    -fx-border-color: #202020;
    -fx-background-radius: 0.0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #444;
    -fx-background-radius: 5.0em;
}

.scroll-pane > .corner {
    -fx-background-color: #202020;
    
}

#project-miniature{
	-fx-padding:0.0px 20.0px 0.0px 20.0px;
	-fx-alignment:center;
}
 
.text-area .content{
	-fx-border-width:0.0px 1.0px 0.0px 2.0px;
    -fx-alignment: CENTER;
    -fx-border-color:#e86e0a;
      -fx-background-color: #202020;
  }
  
TextArea {
	-fx-text-fill: #fff;
      -fx-highlight-fill: #e86e0a;
       -fx-highlight-text-fill: #222;
}

TextArea:focused {
	-fx-border-width:0.0px 0.0px 0.0px 2.0px;
    -fx-border-color:#e86e0a;
      -fx-background-color: #e86e0a;
}

.choice-box, MenuButton {
  -fx-background-color: #111;
  -fx-mark-color: darkorange;}

MenuButton > .label { -fx-text-fill: white; }
MenuButton .context-menu { -fx-background-color: #111; }
MenuButton .menu-item:focused { -fx-background-color: darkorange; }
MenuButton .menu-item > .label { -fx-text-fill: white; }
MenuButton .menu-item:focused > .label { -fx-text-fill: black; }




/*-----------------------------------------------MANAGE PROJECT--------------------------------------*/

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: transparent;}

.tab1{
	-fx-background-color: #222;
	-fx-border-radius: 8px 8px 0px 0px;
	-fx-border-width: 1px 1px 0px 1px;
}

.tab1:hover{
	-fx-background-color:#555;
	}

#transcriptionTabPane > .tab-header{

    -fx-border-color: #8aa;

}

#scanningTabPane > .tab-header {

    -fx-border-color: #aa8;

}

#rightTab{
	-fx-background-radius: 0px 16px 16px 0px;
	-fx-background-color: #555;
	-fx-pref-width: 375px;
	-fx-border-color: transparent;
}

#leftTab{
	-fx-background-radius: 16px 0px 0px 16px;
	-fx-background-color: #555;
	-fx-pref-width: 375px;
	-fx-border-color: transparent;
}

#leftTab:hover, #leftTab:selected, #rightTab:hover, #rightTab:selected{
	-fx-background-color: #888;
}	




#scanningTab{
	-fx-background-radius: 0px 16px 16px 0px;
	-fx-background-color: #555;
	-fx-pref-width: 375px;
	-fx-border-color: transparent;
    	}
    	

	
#scanningTab:hover, #scanningTab:selected{
	-fx-background-color: #88c;
}	

	
#transcriptionTab:hover, #transcriptionTab:selected{
	-fx-background-color: #c88;
}	
	
	

#transcriptionTab{
	-fx-background-radius: 16px 0px 0px 16px;
	-fx-background-color: #555;
	-fx-pref-width: 375px;	
	-fx-border-color: transparent ;

}





#newDocumentButton, #addTranscriberButton, #addDigitalizerButton, #addDReviserButton, #addTReviserButton{
	-fx-background-color:#555;
	-fx-background-radius:#10px;
	-fx-pref-width: 450px;
	-fx-pref-height: 40px;
	-fx-text-fill: #eee;
	}
	
#newDocumentButton{
		-fx-pref-width: 900px;
}	
	
#newDocumentButton:hover, #addTranscriberButton:hover, #addDigitalizerButton:hover,#addDReviserButton:hover, #addTReviserButton:hover {
	-fx-text-fill: #fff;
	-fx-background-color:#e86e0a;	
	}	
	



.table-view{
   -fx-background-color: transparent;
   -fx-table-cell-border-color: transparent;
	-fx-font-size: 16px;
}


.table-view .filler{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenk�pfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: #202020;
    -fx-background-radius: 8px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #eee;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-alignment:left;
}

.table-view .table-cell{
    -fx-text-fill: #ddd;
}



.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #333;
    -fx-background-radius:4px;
    -fx-background-insets: 1.0, 1.0 1.0 1.0 1.0;
    -fx-padding: 0.0; /* 0 */
    /*-fx-border-color: 2px 0px 2px 0px black;*/
    -fx-border-color: transparent;
	-fx-min-height:60px;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd:hover, .table-row-cell:hover{
	-fx-background-color: #e86e2a;
}

.table-row-cell:odd{
	-fx-background-radius:4px;
    -fx-background-color: -fx-table-cell-border-color, #3a3a3a;
    -fx-background-insets: 1.0, 1.0 1.0 1.0 1.0;
    -fx-min-height:60px;
    -fx-padding: 0.0; /* 0 */  
}

.table-row-cell:selected {
	-fx-background-color: #777;
    -fx-background-insets: 0.0;
    -fx-background-radius: 4px;
    }


.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0.0;
}

.check-box *.box {
  -fx-background-color: #111;
}

.check-box:selected .mark {
    -fx-background-color: darkorange;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /*-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
    -fx-background-color: darkorange;
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #202020;
}
.list-cell:odd { /* <=== changed to even */
    -fx-background-color: #242424;
}

.list-cell:filled:hover {
    -fx-background-color: #444;
    -fx-text-fill: white;
}

#topbar{
	-fx-background-color: #333;
    -fx-border-width: 0.0px 0.0px 1.0px 0.0px;
    -fx-border-color:#aaaa;
    -fx-tab-max-width:49.0px;
}

#rightbar{
	-fx-background-color: #333;
    -fx-border-width: 0.0px 0.0px 1.0px 0.0px;
    -fx-border-color:#aaaa;
}



.styled-text-area {
	-fx-border-width:0.0px 1.0px 0.0px 2.0px;
    -fx-alignment: CENTER;
    -fx-border-color:#e86e0a;
    -fx-background-color: #202020;
}

.styled-text-area:focused {
	-fx-border-width:0.0px 5.0px 0.0px 2.0px;
    -fx-border-color:#e86e0a;
    -fx-background-color: #232323;
}

.styled-text-area .text {
    -fx-fill: white;
}

.styled-text-area .tagmark {
    -fx-fill: gray;
}
.styled-text-area .anytag {
    -fx-fill: crimson;
}
.styled-text-area .paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.styled-text-area .attribute {
    -fx-fill: darkviolet;
}
.styled-text-area .avalue {
    -fx-fill: gray;
}

.styled-text-area .comment {
	-fx-fill: teal;
}

.title {
	-fx-text-fill: #aaa;
}

.highlight {
	-fx-text-fill: #fffefe;
}

.highlight2 {
	-fx-text-fill: #f87e1a;
}


BorderPane {
	 -fx-background-color: #222;
}

AnchorPane {
	 -fx-background-color: #222;
}

TabPane {
	 -fx-background-color: #222;
}

#logout{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
    -fx-background-color: #4440;
    -fx-pref-height: 50.0;
    -fx-alignment: CENTER;
    -fx-text-fill: #aaa;
    -fx-font-size: 16.0px;
    -fx-border-color:#aaa0;
    -fx-border-width: 0.0px 0.0px 2.0px 0.0px;  
}

#logout:hover { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ccc;
    -fx-border-color:#ccc;
}





.list-view .list-cell{
	-fx-text-fill: yellow;
}



